<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Wydra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-segment mode="ios" value="avaliacoes">
    <ion-segment-button value="avaliacoes">
      <ion-label>Avaliações</ion-label>
    </ion-segment-button>
    <ion-segment-button value="explorar">
      <ion-label>Explorar</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-amostra-review *ngFor="let review of feedReviews" [review]="review"></app-amostra-review>
  
</ion-content>
