<ion-card
(click)="verReviewCompleta()" style="cursor: pointer;">
  <ion-grid>
    <ion-row>
      <ion-col size="2" style="display: flex; align-items: center; justify-content: center;">
        <img src="../../assets/steve.jpeg" style="object-fit: cover; width: 100%; height: 100%;">
      </ion-col>
      <ion-col size="5" style="display: flex; align-items: center; justify-content: center;">
        {{review.nomeUsuario}}
      </ion-col>
      <ion-col size="5" style="display: flex; align-items: center; justify-content: flex-end;">
        {{quantoTempoAtras}}
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col size="5" style="display: flex; align-items: center; justify-content: center;">
        <img src="../../assets/yeezus.jpg" style="object-fit: cover; width: 100%; height: 100%;">
      </ion-col>
      <ion-col>
        <p style="margin: 0;">"{{comentarioAmostra}}"</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">{{ review.musica }}, {{ review.artista}}</ion-col>
      <ion-col size="1"><ion-icon name="heart-outline"></ion-icon></ion-col>
      <ion-col size="1"><ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
