<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" href="/tabs/feed">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="busca" href="/tabs/busca">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="audioteca" href="/tabs/audioteca">
      <ion-icon aria-hidden="true" name="library-outline"></ion-icon>
      <ion-label>Audioteca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuario" href="/tabs/usuario">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Usuário</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
