<ion-card class="ion-no-padding" (click)="goToReview()">
    <ion-card-header>
      <ion-row>
        <ion-col size="auto" style="display: flex; align-items: center; justify-content: center;">
          <img [src]="review.albumCoverPath" style="object-fit: cover; width: 108px; height: 108px;">
        </ion-col>
        <ion-col >
          <ion-row>
            <ion-col size="auto" class="ion-no-padding">
              <ion-row class="pretty-font title"><ion-col size="auto"><app-fancy-title [color]="dominante">{{review.musica}}</app-fancy-title></ion-col></ion-row>

              <ion-row class="pretty-font artist"><ion-col>{{review.artista}}</ion-col></ion-row>
            </ion-col>
            <ion-col style="display: flex; flex-direction: row-reverse;">
              <app-fancy-score>{{review.avaliacao.toFixed(1)}}</app-fancy-score>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="center-in-col"  size="auto"><img  [src]="review.reviewerPath" style="object-fit: cover; width: 32px; height: 32px; border-radius: 50%;"></ion-col>
            <ion-col size="auto" class="card-font user-name center-in-col">{{review.nomeUsuario}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-header>
    
    
    <ion-card-content class="card-font">
      <hr>
      <p>{{comentarioAmostra}}</p>
    

    
    <ion-row>
      <ion-col size="3" class="center-in-col">
        <ion-row>
          <ion-col class="center-in-col" size="auto"><ion-icon name="heart-sharp"></ion-icon></ion-col>
          <ion-col class="center-in-col" size="6">154</ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3" class="center-in-col">
        <ion-row>
          <ion-col class="center-in-col" size="auto"><ion-icon name="chatbubbles"></ion-icon></ion-col>
          <ion-col class="center-in-col" size="6">32</ion-col>
        </ion-row>
      </ion-col>
      
      <ion-col size="auto" class="center-in-col"><ion-icon name="bookmark-outline"></ion-icon> </ion-col>
      <ion-col style="display: flex; flex-direction: row-reverse;" class="center-in-col"><ion-button (click)="goToReview()" >Discutir</ion-button></ion-col>
    </ion-row>
  </ion-card-content>
  
</ion-card>


